Source: shannon-utils
Section: utils
Priority: optional
Maintainer: Yan Gao <gaoyan@shannon-data.com>
Build-Depends: debhelper (>= 9),
               lib32ncurses5-dev
Standards-Version: 3.8.3
Homepage: http://www.shannon-sys.com

Package: shannon-utils
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Administrative toolkit for PCIe flash cards of Shannon Systems
